<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <!--binding data to the html tag-->
    {{> header}}

    <p>Project page text would go here</p>

    {{> footer}}
  </body>
</html>
